<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/plupload/plupload.full.min.js}"></script>
    <script th:src="@{/plupload/jquery.plupload.queue/jquery.plupload.queue.js}"></script>
    <link rel="stylesheet" th:href="@{/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css}">
    <title>Spring-boot-Thymeleaf</title>
</head>
<body>
    <h3>文件上传下载功能</h3>
    <form method="post" enctype="multipart/form-data" action="/file/upload">
        文件：<input type="file" name="cdssfile"/><br><br>
        <button type="submit">上传</button>
    </form>
    <a href="/file/downLoad">下载</a>

    <h3>多文件上传功能</h3>
    <div id="uploader">
        <button id="button" style="width: 20px">上传</button>
    </div>

<script>
    $(function () {
        $("#uploader").pluploadQueue({
            runtimes : 'html5,flash,silverlight,html4',
            url : "/file/multiUpload",
            chunk_size : '1mb',
            rename : true,
            dragdrop: true,
            filters : {
                // Maximum file size
                max_file_size : '512mb',
                // Specify what files to browse for
                mime_types : [ {
                    title : "Image files",
                    extensions : "jpg,gif,png"
                }, {
                    title : "Zip files",
                    extensions : "rar,zip,7z"
                }, {
                    title : "Document files",
                    extensions : "pdf,txt,xlsx,xls,docx,doc,pptx,ppt"
                } ]
            },

            // Resize images on clientside if we can
            resize: {
                width : 200,
                height : 200,
                quality : 90,
                crop: true // crop to exact dimensions
            },

            // Flash settings
            flash_swf_url : '/plupload/Moxie.swf',

            // Silverlight settings
            silverlight_xap_url : '/plupload/Moxie.xap'
        })
    })
</script>
</body>
</html>
